.main-content {
  display: grid;
  margin: 100px auto;
  grid-template-areas: 
    "bsa js php php"
    "bsa js php php"
    "bsa js php php"
    "bsa js net events"
    "qa js net events"
    "qa js net blog"
    "qa java net blog"
    "qa java net contacts";
  grid-template-columns: 25% 25% 30% 20%;
  grid-template-rows: repeat(8, 12%);
  padding: 50px 10% 50px;
  height: 50vw;
  display: grid;
  box-sizing: border-box;
}

/* common card settings */
.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.7s ease;
}

.card-front,
.card-back {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.7s ease;
}

.card-front {
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.card-back {
  overflow: auto;
  background: white;
  z-index: 0;
  font-weight: bold;
}

.card-back::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.card-back::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.card-back::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*Each card-settings A-z*/

.blog-card-container {
  grid-area: blog;
}

.blog-card-container .card-front {
  background:#00328d;
  font-size: 1rem;
  color: white;
}

.bsa-card-container {
  grid-area: bsa;
}

.bsa-card-container .card-front {
  background: white;
}

.bsa-card-container .card-front img {
  max-width: 100%;
  max-height: 100%;
}

.bsa-card-container .card-back {
  align-items: center;
  justify-content: center;
}

.bsa-card-container .card-back .btn {
  background-color: rgba(70, 104, 255, 0.979); 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bsa-card-container .card-back .btn:hover {
  background-color: blue; 
}

.contacts-card-container {
  grid-area: contacts;
}

.contacts-card-container .card-front {
  background: #001444;
  font-size: 1rem;
  color: white;
}

.contacts-card-container .card-back {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-card-container .card-back .contact-item {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  height: 30px;
}

.contacts-card-container .card-back .contact-item svg{
  height: 30px;
  width: 30px;
}

.contacts-card-container .card-back .contact-item:hover {
  color: blue;
  fill: blue;
}


.contacts-card-container .card-back .contact-item {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
}

.events-card-container {
  grid-area: events;
}

.events-card-container .card-front {
  background: #2091ff;
  font-size: 1rem;
  color: white;
}

.java-card-container {
  grid-area: java;
}

.java-card-container .card-front {
  background: #c71b38;
  color: white;
  font-size: 4rem;
}

.js-card-container {
  grid-area: js;
}

.js-card-container .card-front {
  background: #f7c960;
  font-size: 7rem;
  font-weight: bold;
  align-items: flex-end;
  justify-content: flex-end;
}

.net-card-container {
  grid-area: net;
}

.net-card-container .card-front {
  background: #491158;
  font-size: 6rem;
  color: white;
}

.php-card-container {
  grid-area: php;
}

.php-card-container .card-front {
  background: #7f89ba;
  font-size: 5rem;
  font-style: oblique;
}

.qa-card-container {
  grid-area: qa;
}

.qa-card-container .card-front {
  background: #489a52;
  color: white;
  font-size: 6rem;
}

/* behavior settings */
.flip-card-container:hover .card {
  transform: rotateY(180deg);
}

.flip-card-container {
  perspective: 700px;
}

.flip-card-container .card {
  transform-style: preserve-3d;
}

.card-flip-back {
  transform: rotateY(180deg);
}

.move-down-card-container .card-front {
  transform-origin : 0% 100%;
}

.move-down-card-container:hover .card-front {
  transform : scaleY(0.0);
}


.move-top-right-card-container .card-front,
.move-left-card-container .card-front {
  transform-origin : 100% 0%;
}

.move-bottom-left-card-container .card-front {
  transform-origin : 100% 100%;
}

.move-bottom-left-card-container:hover .card-front,
.move-top-right-card-container:hover .card-front {
  transform: scale(0);
} 

.move-left-card-container:hover .card-front {
  transform: scaleX(0);
} 


@media ( min-width: 0px ) and (max-width: 960px) {
  .main-content {
    display: grid;
    margin: 100px auto;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(16, 1fr);
    padding: 50px 5% 50px;
    height: 80vw;
    display: grid;
    box-sizing: border-box;
  }

  .bsa-card-container {
    grid-area: 1/1/9/10;
  }

  .js-card-container {
   grid-area: 1/9/9/15;
  }
  
  .events-card-container {
    grid-area: 1/15/4/19;
  }
  
  .blog-card-container {
    grid-area: 4/15/7/19;
  }

  .contacts-card-container {
    grid-area: 7/15/9/19;
  }

  .java-card-container {
    grid-area: 9/1/13/10;
  }
  
  .qa-card-container {
    grid-area: 13/1/17/10;
  }

  .php-card-container {
    grid-area: 9/10/13/19;
  }

  .net-card-container {
    grid-area: 13/10/17/19;
  }
}
