body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    height: 1000px;
  }
  
  @keyframes slideInFromTop {
    from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(0);
    }
   
  }
  
  .header {
    z-index: 100;
    position: fixed;
    display: flex;
    width: 100%;
    top: 0px;
    right: 0px;
    padding: 10px 10%;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    animation: 1s ease slideInFromTop;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }

  /* bell icon */
  .profile .icon {
    margin-right: 30px;
    font-size: 24px;
    color: #a9a9a9;
    transition: all 0.4s ease;
    cursor: pointer;
  }
  
  .profile .icon:hover {
    color: #898989
  }
  
  .profile-menu .avatar {
    background-color: #FE9B28;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
  } 
  
  .profile-menu .avatar:hover {
    background-color: #fc8a09;
  }
  
  .profile-menu:hover .dropdown {display: block;}
  
  .profile-menu .dropdown {
    display: none;
    padding: 20px;
    position: absolute;
    top: 65px;
    right: 5%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .profile-menu .dropdown .item {
    font-weight: bold;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dropdown .name:hover {
    cursor: default;
  }
 
  .dropdown .item:hover {background-color: #ddd;}
