.snackbar {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
}

.toast {
  width: 30vh;
  display: grid;
  grid-template-columns: 25% 80%;
  grid-template-areas: "icon content";
  opacity: 0.6;
  border-radius: 5px;
  margin: 20px 10px;
  color: rgb(255, 255, 255); 
}

.toast-icon {
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
}

.toast-content {
  padding-right: 5px;
  grid-area: content;
  opacity: 1;
}

.toast-header {
  font-weight: bold;
}

.success-tost {
  background: green;
}

.warning-tost {
  background: darkorange;
}

.error-tost {
  background: red;
}

.info-tost {
  background: blue;
}

.show {
  animation: 1s ease slideFromRight;
}

@keyframes slideFromRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

.close {
  animation: 1s ease hideToRight;
}

@keyframes hideToRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
